awscli==1.11.136
botocore==1.6.3
certifi==2017.7.27.1
cffi==1.11.4
chardet==3.0.4
colorama==0.3.7
docutils==0.14
enum34==1.1.6
futures==3.1.1
idna==2.6
ipaddress==1.0.17
jmespath==0.9.3
keyring==10.4.0
keyrings.alt==2.2
pyasn1==0.3.2
pycparser==2.18
pygobject==3.26.1
python-dateutil==2.6.1
pyxdg==0.26
PyYAML==5.4
requests>=2.20.0
s3transfer==0.1.10
six==1.10.0
urllib3==1.26.5
